<div class="center">
	<h1>These are our goals<h1>
		<h1>These are our goals<h1>
			<h1>These are our goals<h1>
				<h1>These are our goals<h1>
					<h1>These are our goals<h1>
						<h1>These are our goals<h1>
							<h1>These are our goals<h1>
								<h1>These are our goals<h1>
									<h1>These are our goals<h1>
										<h1>These are our goals<h1>
											<h1>These are our goals<h1>
												<h1>These are our goals<h1>
													<h1>These are our goals<h1>
														<h1>These are our goals<h1>
															<h1>These are our goals<h1>
																<h1>These are our goals<h1>
																	<h1>These are our goals<h1>
</div>