<div class="jumbotron center">
	<h1>Welcome to Nutrionista</h1>
	<% if user_signed_in? %>
		<p> Happy (healthy) Eating</p>

		<hr>

		<%= link_to "Check out the Recent Meals", meals_path, class:'btn btn-info btn-lg' %>

		<br>
		<br>

		<%= link_to "Add New Meal", new_meal_path, class:'btn btn-primary btn-lg' %>

	<% else %>
	<%= link_to "Log In", new_user_session_path, class:'btn btn-primary btn-lg' %>
	<%= link_to "Sign Up", new_user_registration_path, class:'btn btn-info btn-lg' %>
	<% end %>
</div>
