<div class="jumbotron center">
	<h1>Welcome to Nutrionista</h1>
	<% if user_signed_in? %>
		<p> Take pictures of your meals and let the people who care about you rate them and give you tips. </p>
		<p> <small>Happy (healthy) Eating</small></p>

		<hr>

		<%= link_to raw("<span class='glyphicon glyphicon-cutlery'></span><span class='hidden-xs'> Check out the</span> Recent Meals"), meals_path, class:'btn btn-info btn-lg' %>

		<br>
		<br>

		<%= link_to raw("<span class='glyphicon glyphicon-camera'></span> Add New Meal"), new_meal_path, class:'btn btn-primary btn-lg' %>

	<% else %>
		<p>Have your Trainer, Nutrionist, Family, or Friends help you meet your diet goals in the easiest way possible</p>

		<hr>

		<%= link_to raw("<span class='glyphicon glyphicon-log-in'></span> Sign In"), new_user_session_path, class:'btn btn-primary btn-lg' %>
		<%= link_to raw("<span class='glyphicon glyphicon-thumbs-up'></span> Get Started"), new_user_registration_path, class:'btn btn-info btn-lg' %>
	<% end %>
</div>
