<div class="center">
	<%= link_to raw('<span class="glyphicon glyphicon-star"></span> Rate This Meal <span class="glyphicon glyphicon-star"></span>'), @meal, class: "btn btn-primary btn-sm" %></p>
</div>