<%= render "meals/back" %>

<div class= "center">
	<h1>Edit your Meal</h1>
	<h4 class="hidden-xs">Go ahead take a better picture.</h4>
</div>

<br>

<%= render 'form' %>

<hr>
<div class="center">
	<%= link_to "See this Meal in all it's current glory", @meal %>
</div>

