<%= link_to '< Back to More Meals', meals_path %>

<hr>

<div class= "center">
	<h1>Add your Meal</h1>
	<h4 class="hidden-xs">Take a quick picture of what you're eating and any notes you want people to see.</h4>
</div>

<br>

<%= render 'form' %>

